.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: $green-light;
    width: 100%;
}

.link {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: #000;

    &:hover {
        border: 1px solid $green;
        border-radius: 10px;
        background-color: $green-lighter;
    }
}

.header__title {
    text-decoration: none;
    color: #000;
}